h1 
    color: #27aedb
    text-align: center

.underSearchText
    color: #27aedb
    text-align: center
    font-size: 15px

   
.searchInput
    color: #3372a9
    display: block
    margin: auto
    width: 50%
    border: 3px solid green
    padding: 10px

.pokemonList
    margin-left: 75px

.pokemonList
    li
        text-transform: uppercase
        padding: 5px
        color: #305620

p
    font-family: cursive

.singlePokemonUL
    div
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: flex-start
        align-items: baseline

.singlePokemonUL
    li
        text-transform: uppercase
        padding: 5px
        color: #305620
        
      
        
.secondPokemonHeader
    text-align: left;
    font-size: 23px;
    color: #a74141;
    font-family: sans-serif;

.singlePokemonWrapper 
    margin-left: 50px;

img
    width: 180px
    
.spriteWrapper
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start

.sprite
