body
    background-color: #ff940030

h1 
    color: #27aedb
    text-align: center

.pokemonsToChose
    margin-left: 75px
    text-transform: uppercase
    padding: 5px
    color: #305620

.nameSearchForm
    display: flex
    justify-content: center

.nameSearchForm label
    color: #27aedb
    font-size: 17px
    font-family: sans-serif

.nameSearchTextInput
    color: #3372a9
    display: block
    margin: auto
    width: 50vw
    border: 3px solid green
    padding: 10px

.nameSearchButton
    height: 40px
    align-self: flex-end
         