.singlePokemonWrapper 
    margin-left: 50px;

h2
    text-align: left;
    font-size: 23px;
    color: #a74141;
    font-family: sans-serif;

.spriteWrapper
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start
        
img
    width: 180px

.singlePokemonListContent
    text-transform: uppercase
    padding: 5px
    color: #305620

.singlePokemonListContent
    div
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: flex-start
        align-items: baseline
    
p
    font-family: cursive

.gridWrapper
    display: grid
    grid-template: auto / [abilities] 1fr [types] 1fr [moves] 1fr

.abilitiesGridItem
    grid-column: abilities / types
    grid-row: 1

.typesGridItem
    grid-column: moves
    grid-row: 1
    
.movesGridItem
    grid-column: types
    grid-row: 1
